@model ShoppingListTeam3.Models.ItemWithNoteViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back to Shopping List", "../ShoppingList/Index") &emsp; &emsp;
    @Html.ActionLink("Create New", "Create", new { shoppingListID = ViewBag.shoppingListID })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Content
        </th>
        <th>
            Priority
        </th>
        <th>
            Created Date
        </th>
        <th>
            Modified Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.itemID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.IsChecked, new { Id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @item.ConvertToPriorityMessage(item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID, shoppingListID = ViewBag.shoppingListID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID, shoppingListID = ViewBag.shoppingListID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID, ViewBag.shoppingListID })
            </td>
        </tr>
    }

</table>
@if (Model.Note != null)
{
    <h3>Note Detail</h3>
    <table class="table">
        <tr>
            <th>Body</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Model.Note.Body
            </td>
            <td>
                @Model.Note.DisplayDateTimeOffset(Model.Note.CreatedUtc)
            </td>
            <td>
                @Model.Note.DisplayDateTimeOffset(Model.Note.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "../Note/Edit", new { id = Model.Note.ItemId, shoppingListID = ViewBag.shoppingListID }) |
                @Html.ActionLink("Delete", "../Note/Delete", new { id = Model.Note.ItemId, shoppingListID = ViewBag.shoppingListID },
               new { onclick = "return confirm('Do you really want to delete this note?')" })
            </td>
        </tr>
    </table>
}
else
{
    if (ViewBag.itemID != null)
    {
        <p>There is no note associated to this item.</p>
        @Html.ActionLink("Create a Note", "../Note/Create", new { id = @ViewBag.itemID, shoppingListID = @ViewBag.shoppingListID })
    }
}

<br />

Page @(Model.Items.PageCount < Model.Items.PageNumber ? 0 : Model.Items.PageNumber) of @Model.Items.PageNumber

@Html.PagedListPager(Model.Items, page => Url.Action("Index", new { page }))


@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='check']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var itemId = target.attr("data-id");
                    var checkSet = target.hasClass("glyphicon-check");

                    $.ajax({
                        method: checkSet ? "DELETE" : "POST",
                        url: "/api/Item/" + itemId,
                        data: null
                    })
                    .done(function (r) { target.removeClass(); target.addClass("glyphicon " + (checkSet ? "glyphicon-unchecked" : "glyphicon-check")); })
                    .fail(function (r) { alert("Failed to change check status"); });
                });
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}  